html {
  display: table;
  margin: auto;
}

section {
  background: slategray;
  text-align: center;
}

.column {
  width: 320px;
  float: left;
  border: 2px solid red;
  padding: 6px;
  margin: 20px;
  background-color: lavender;
  border-radius: 10px;
  box-shadow: 0 5px 10px black;
  display: block;
}

h1 {
  font-family: verdana;
  color: blue;
}

h2 {
  font-family: lucida;
  font-style: italic;
}

img {
  width: 55%;
  height: 20%;
  float: center;
  border: 2px solid red;
  padding: 6px;
  margin: 20px;
  background-color: gold;
  border-radius: 10px;
}

section {
  background: snow;
  color: white;
  font-family: "Comic Sans MS", sans-serif;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 10px black;
}

section article {
  background: tan;
  color: white;
  font-family: "Comic Sans MS", sans-serif;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 10px black;
}